dataset: https://www.kaggle.com/datasets/jinxzed/londonairbnb?select=Uphaar_listing.csv

In [11]:
import pandas as pd, numpy as np,matplotlib.pyplot as plt, seaborn as sns
import statsmodels.api as sm
pd.options.display.max_columns=50

In [2]:
df=pd.read_csv(r"A:\datasets\Uphaar_listing.csv\Uphaar_listing.csv")
df.head()

,Unnamed: 0,price_x,experiences_offered,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,property_type,room_type_y,accommodates,bathrooms,bedrooms,beds,bed_type,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,host_location,host_since,street,city,security_deposit,cleaning_fee,id
0,0,88,family,f,3.0,t,t,t,Apartment,Entire home/apt,4,1.0,1.0,3.0,Real Bed,2,20.0,2,180,12,42,72,347,192,9,f,t,f,strict_14_with_grace_period,f,t,2,2,0,0,"London, England, United Kingdom",2009-10-03,"London, United Kingdom",London,$400.00,$35.00,11551
1,1,65,business,f,4.0,t,t,t,Apartment,Private room,2,1.0,1.0,0.0,Real Bed,1,15.0,1,29,12,42,72,347,21,5,f,f,f,moderate,f,f,3,1,2,0,"London, England, United Kingdom",2009-11-16,"Islington, Greater London, United Kingdom",Islington,$100.00,$15.00,13913
2,2,100,romantic,f,1.0,t,t,t,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,2,0.0,10,50,0,0,13,288,89,4,f,t,f,strict_14_with_grace_period,t,t,1,1,0,0,"Kensington, England, United Kingdom",2009-12-05,"London, United Kingdom",London,$150.00,$50.00,15400
3,3,300,none,f,18.0,t,t,f,Apartment,Entire home/apt,6,2.0,3.0,3.0,Real Bed,3,10.0,3,365,9,39,69,326,42,2,f,t,f,strict_14_with_grace_period,f,f,15,15,0,0,"London, England, United Kingdom",2010-01-04,"London, Fitzrovia, United Kingdom",London,$350.00,$90.00,17402
4,4,150,business,f,3.0,t,f,t,Bed and breakfast,Private room,2,1.0,1.0,1.0,Real Bed,1,0.0,3,21,11,41,71,346,0,0,f,f,f,strict_14_with_grace_period,f,f,2,0,2,0,"London, England, United Kingdom",2010-01-05,"London, United Kingdom",London,NaN,NaN,17506

In [10]:
df.shape

(83709, 40)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83709 entries, 0 to 83708
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   price_x                                       83709 non-null  int64
 1   experiences_offered                           83709 non-null  object
 2   host_is_superhost                             83698 non-null  object
 3   host_listings_count                           83698 non-null  float64
 4   host_has_profile_pic                          83698 non-null  object
 5   host_identity_verified                        83698 non-null  object
 6   is_location_exact                             83709 non-null  object
 7   property_type                                 83709 non-null  object
 8   room_type_y                                   83709 non-null  object
 9   accommodates                                  83709 non-null  int64
 10  bathrooms                                     83576 non-null  float64
 11  bedrooms                                      83545 non-null  float64
 12  beds                                          82725 non-null  float64
 13  bed_type                                      83706 non-null  object
 14  guests_included                               83709 non-null  int64
 15  extra_people                                  83709 non-null  float64
 16  minimum_nights_y                              83709 non-null  int64
 17  maximum_nights                                83709 non-null  int64
 18  availability_30                               83709 non-null  int64
 19  availability_60                               83709 non-null  int64
 20  availability_90                               83709 non-null  int64
 21  availability_365_y                            83709 non-null  int64
 22  number_of_reviews_y                           83709 non-null  int64
 23  number_of_reviews_ltm                         83709 non-null  int64
 24  requires_license                              83709 non-null  object
 25  instant_bookable                              83709 non-null  object
 26  is_business_travel_ready                      83709 non-null  object
 27  cancellation_policy                           83709 non-null  object
 28  require_guest_profile_picture                 83709 non-null  object
 29  require_guest_phone_verification              83709 non-null  object
 30  calculated_host_listings_count_y              83709 non-null  int64
 31  calculated_host_listings_count_entire_homes   83709 non-null  int64
 32  calculated_host_listings_count_private_rooms  83709 non-null  int64
 33  calculated_host_listings_count_shared_rooms   83709 non-null  int64
 34  host_location                                 83501 non-null  object
 35  host_since                                    83698 non-null  object
 36  street                                        83709 non-null  object
 37  city                                          83256 non-null  object
 38  security_deposit                              54179 non-null  object
 39  cleaning_fee                                  61607 non-null  object
dtypes: float64(5), int64(15), object(20)
memory usage: 25.5+ MB

In [5]:
df.describe()

,price_x,host_listings_count,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,83709.000000,83698.000000,83709.000000,83576.000000,83545.000000,82725.000000,83709.000000,83709.000000,83709.000000,8.370900e+04,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000,83709.000000
mean,127.521664,25.969904,3.173482,1.308210,1.408965,1.739909,1.607032,7.392873,4.632250,1.915622e+04,4.906868,18.481274,32.513254,117.366651,16.904718,4.750397,19.587058,16.756143,2.166482,0.051333
std,282.327202,145.825064,2.013219,0.621894,0.933268,1.295726,1.364971,14.303404,19.800467,3.903712e+06,5.507494,19.399954,33.136850,136.115257,36.606916,9.671885,99.471139,97.734106,12.728904,0.704368
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,46.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,81.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.000000,1.125000e+03,0.000000,7.000000,16.000000,69.000000,4.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,139.000000,4.000000,4.000000,1.500000,2.000000,2.000000,2.000000,10.000000,3.000000,1.125000e+03,11.000000,40.000000,70.000000,249.000000,17.000000,5.000000,4.000000,2.000000,1.000000,0.000000
max,19970.000000,3142.000000,32.000000,35.000000,50.000000,50.000000,46.000000,247.000000,1125.000000,1.000000e+09,30.000000,60.000000,90.000000,365.000000,775.000000,334.000000,921.000000,919.000000,223.000000,18.000000

In [3]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.drop('id',axis=1,inplace=True)

In [6]:
df.head()

,price_x,experiences_offered,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,property_type,room_type_y,accommodates,bathrooms,bedrooms,beds,bed_type,guests_included,extra_people,minimum_nights_y,maximum_nights,availability_30,availability_60,availability_90,availability_365_y,number_of_reviews_y,number_of_reviews_ltm,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count_y,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,host_location,host_since,street,city,security_deposit,cleaning_fee
0,88,family,f,3.0,t,t,t,Apartment,Entire home/apt,4,1.0,1.0,3.0,Real Bed,2,20.0,2,180,12,42,72,347,192,9,f,t,f,strict_14_with_grace_period,f,t,2,2,0,0,"London, England, United Kingdom",2009-10-03,"London, United Kingdom",London,$400.00,$35.00
1,65,business,f,4.0,t,t,t,Apartment,Private room,2,1.0,1.0,0.0,Real Bed,1,15.0,1,29,12,42,72,347,21,5,f,f,f,moderate,f,f,3,1,2,0,"London, England, United Kingdom",2009-11-16,"Islington, Greater London, United Kingdom",Islington,$100.00,$15.00
2,100,romantic,f,1.0,t,t,t,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,2,0.0,10,50,0,0,13,288,89,4,f,t,f,strict_14_with_grace_period,t,t,1,1,0,0,"Kensington, England, United Kingdom",2009-12-05,"London, United Kingdom",London,$150.00,$50.00
3,300,none,f,18.0,t,t,f,Apartment,Entire home/apt,6,2.0,3.0,3.0,Real Bed,3,10.0,3,365,9,39,69,326,42,2,f,t,f,strict_14_with_grace_period,f,f,15,15,0,0,"London, England, United Kingdom",2010-01-04,"London, Fitzrovia, United Kingdom",London,$350.00,$90.00
4,150,business,f,3.0,t,f,t,Bed and breakfast,Private room,2,1.0,1.0,1.0,Real Bed,1,0.0,3,21,11,41,71,346,0,0,f,f,f,strict_14_with_grace_period,f,f,2,0,2,0,"London, England, United Kingdom",2010-01-05,"London, United Kingdom",London,NaN,NaN